:root {
    --head-col: #FF6F69;
    --card-head: #FFCC5C;
    --yellow: #FFEEAD;
    --green: #96CEB4;
}

.float{
    position: absolute;
    width: 80%;
    opacity: .3;
    top: 50%;
    left: 50%;
    animation: float ease-in-out 2s infinite alternate;
}

.ball{
    position: absolute;
    width: 90%;
    opacity: .3;
    top: 40%;
    left: -5%;
    animation: ball ease-in 1.5s infinite alternate;
}

.lemonade{
    position: absolute;
    bottom: 0;
    right: 0;
    transform-origin:bottom right;
    transform: scale(1.7);
    opacity: .5;
}

.ice{
    position: absolute;
    border-radius: 10%;
    width: calc(var(--vh, 1vh) * 5);
    height: calc(var(--vh, 1vh) * 5);
    background-color: var(--green);
    animation: ice_anim ease-in-out 1.5s infinite alternate;
    top: 0;
    transform: rotate(69deg);
}

.i1{
    top: 77%;
    left: 75%;
}

.i2{
    top: 80%;
    left: 84%;
    animation-delay: .5s;
}

.i3{
    top: 87%;
    left: 79%;
    animation-delay: .9s;
}



@keyframes ice_anim{
    from{
        transform: translateY(0) translateX(0) rotate(69deg);
    }
    to{
        transform: translateY(50%) translateX(20%) rotate(69deg);
    }
}

@keyframes ball{
    from{
        transform: translateY(0);
    }
    to{
        transform: translateY(50%);
    }
}

@keyframes float{
    from{
        transform: translateY(0);
    }
    to{
        transform: translateY(20%);
    }
}