.bg-dark{
	background-color:#0b0b0c!important;
}
.navbar-dark .navbar-toggler {
    color: rgba(21, 19, 19, 0.5);
    border-color: #f8f9fa;
}
.text-white{
color: #fff;
    font-family: 'Permanent Marker', cursive!important;
}
.exodiatext{
	    font-family: 'Rock Salt', cursive;
    font-weight: 900;
    font-size: 18px;
    letter-spacing: 3px;
    color: #fff !important;
    }
.testnav{
	font-family: 'Rock Salt', cursive;
	font-weight: 900;
	font-size: 20px;
	letter-spacing: 3px;
	color:#fff !important;
}
.bg-light {
    background-color: #000!important;
}
.nav-link{
	color:#fff !important;
	font-size:16px!important;
	padding-right:15px!important;
}
.nav-item{

	color:#fff;
	font-family: 'Permanent Marker', cursive!important
	font-size:30px;

	color:#fff !important;
}
.nav-bar .fa-bars {
    font-size: 35px;
    color: #fff;
}
.navbar-toggler{
	background-color:#fff;
}
 .slide-middle-out {
    display: inline-block;
    border-radius: 24px;
    position: relative;
    padding-bottom: 3px;
}
.slide-middle-out:after {
    content: '';
    display: block;
    margin: auto;
    border-radius: 24px;
    margin-top: 0px;
    height: 2px;
    width: 0px;
    background: transparent;
    transition: width .5s ease, background-color .5s ease;
}
.slide-middle-out:hover:after {
    width: 100%;
    background: #0e88e8;
}
