@font-face {
    font-family: BeautyMountains;
    src: url('./fonts/BeautyMountains.ttf');
}

@font-face {
    font-family: LemonJelly;
    src: url('./fonts/LemonJelly.ttf');
}

@font-face {
    font-family: QuickKiss;
    src: url('./fonts/QuickKiss.ttf');
}

body::-webkit-scrollbar {
    width: .4em;
    background: rgba(0, 0, 0, 0);
}

body::-webkit-scrollbar-thumb {
    background-color: rgba(0, 0, 0, .5);
    outline: 2px solid slategrey;
}

body {
    overflow-x: hidden;
}

:root {
    --head-col: #FF6F69;
    --card-head: #FFCC5C;
    --yellow: #FFEEAD;
}

* {
    margin: 0 0 0 0;
    padding: 0 0 0 0;
    font-family: 'Montserrat', sans-serif;
}

#max-note {
    opacity: 0;
    position: fixed;
    width: 100%;
    height: 100vh;
    z-index: 9999;
    background-color: #414953;
    color: white;
    font-family: QuickKiss;
    pointer-events: none;
}

.canvas_layer {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    overflow: hidden;
}

.canv {
    display: block;
    position: fixed;
    height: 100%;
    width: 100%;
}

.content {
    top: 100%;
    position: absolute;
    z-index: 10;
    background-color: rgba(0, 0, 0, 0);
    width: 100%;
}

.content_canv {
    background-color: rgba(0, 0, 0, 0);
}

.new {
    position: relative;
    top: 0;
    z-index: 3000;
}

.content_canv {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    overflow: hidden;
}

div {
    font-family: cursive;
}

h1 {
    font-family: BeautyMountains;
    position: relative;
    font-size: 7em !important;
    margin: 2.5% !important;
    color: var(--head-col);
    display: inline-block;
    -webkit-transform: scale(1.3, 1);
    /* Safari and Chrome */
    -moz-transform: scale(1.3, 1);
    /* Firefox */
    -ms-transform: scale(1.3, 1);
    /* IE 9 */
    -o-transform: scale(1.3, 1);
    /* Opera */
    transform: scale(1.3, 1);
    /* W3C */
}

.mysubmit {
    font-family: BeautyMountains;
    position: relative;
    font-size: 2em !important;
    margin: 1% !important;
    color: var(--head-col) !important;
    display: inline-block !important;
    -webkit-transform: scale(1.3, 1) !important;
    /* Safari and Chrome */
    -moz-transform: scale(1.3, 1) !important;
    /* Firefox */
    -ms-transform: scale(1.3, 1) !important;
    /* IE 9 */
    -o-transform: scale(1.3, 1) !important;
    /* Opera */
    transform: scale(1.3, 1) !important;
    /* W3C */
    border: solid 1px black !important;
}

.heading-form {
    font-family: BeautyMountains;
    position: relative;
    font-size: 4em !important;
    margin: 1.5% !important;
    color: var(--head-col);
    display: inline-block;
    -webkit-transform: scale(1.3, 1);
    /* Safari and Chrome */
    -moz-transform: scale(1.3, 1);
    /* Firefox */
    -ms-transform: scale(1.3, 1);
    /* IE 9 */
    -o-transform: scale(1.3, 1);
    /* Opera */
    transform: scale(1.3, 1);
    /* W3C */
}

.about-text {
    margin-top: 5%;
    font-size: 1.5vw;
}

.container {
    min-height: 100vh;
    padding: 0;
    margin: 0;
    display: block;
}

img {
    position: relative;
    max-width: 100%;
}

.green {
    background-color: #FFEEAD !important;
}

.team-member {
    border-radius: 20%;
    padding: 2%;
    width: 50%;
    left: 50%;
    transform: translateX(-50%);
}

.team-card {
    border-radius: 0%;
    position: relative;
}

.event-card {
    border: 0;
    border-radius: 0%;
    position: relative;
    padding: 0 !important;
    background-color: black;
    height: 70vh;
}

.event-card img {
    transition: 1s ease;
}

.event-card:hover img {
    opacity: 0.3;
    transform: scale(1.05);
}

.footer {
    font-size: 1em !important;
    padding-top: 5%;
    position: relative;
    bottom: 0;
}

.footer-note {
    margin-left: auto;
    margin-right: auto;
}

.footer img {
    width: 15%;
}

.foot-logo img {
    width: 100%;
}

.team .vine {
    position: absolute;
    right: 0;
    transform: rotateY(180deg);
    width: 15%;
}

.black {
    -webkit-filter: grayscale(100%);
    /* Safari 6.0 - 9.0 */
    filter: grayscale(100%);
}

.wrapper {
    position: relative;
    perspective: 40em;
    display: grid;
    transform-style: preserve-3d;
}

.card {
    grid-area: 1 / 1;
    width: 100%;
    transform: translateX(10px) rotateY(25deg) rotateX(10deg);
    background: rgba(249, 198, 26, 0.88);
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 0;
    color: #000;
    text-transform: uppercase;
    font-size: 60px;
    font-weight: 900;
    backface-visibility: hidden;
    box-shadow: 0 10px 30px -3px rgba(0, 0, 0, .1);
}

̥ .card .enclosed {
    line-height: 1;
    background-color: rgba(249, 198, 26, 1) !important;
    padding: 0 5px;
    display: inline-block;
    transform: translate(-1px, 1px) scale(0.75);
    transform-origin: right center;
}

.wrapper:before {
    --bw: 2px;
    grid-area: 1 / 1;
    content: '';
    backface-visibility: hidden;
    height: 100%;
    width: 100%;
    margin-top: calc(-1 * var(--bw));
    margin-left: calc(-1 * var(--bw));
    background: transparent;
    transform: translateX(-10px) rotateY(-30deg) rotateX(15deg) scale(1.03);
    pointer-events: none;
    border: var(--bw) solid #000;
    box-sizing: content-box;
}

.wrapper:hover>div,
.wrapper:hover:before {
    transform: none;
}

.wrapper>div,
.wrapper:before {
    will-change: transform;
    transition: .3s transform cubic-bezier(.25, .46, .45, 1);
}

.card img {
    width: 70%;
}

navigation img {
    position: fixed;
    top: -10vh;
    z-index: 11;
    width: 10%;
    animation: sign ease 1s infinite alternate;
}

navigation img:hover {
    transition: ease 0.2s;
    top: -8vh;
}

navigation h4 {
    position: absolute;
    z-index: 12;
    top: 7vh;
    color: black;
}

navigation h4:hover {
    transition: ease 0.5s;
    position: absolute;
    z-index: 12;
    top: 7vh;
    color: white;
}


/* @keyframes sign {
    from {
        transform: rotateZ(3deg);
    }
    to {
        transform: rotateZ(-3deg);
    }
} */

.event_carousel {
    width: 60%;
    min-height: 100%;
    left: 35%;
    margin-top: 10%;
}

.spon_carousel {
    width: 90%;
    height: 35vh !important;
    margin-top: 5%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.card_item {
    display: inline-block;
}

.carousel-control.left .glyphicon {
    left: 0;
    margin-left: 0;
}

.carousel-control.right .glyphicon {
    right: 0;
    margin-right: 0;
}

.mycard {
    height: 50vh;
    display: block;
    text-align: justify;
    text-justify: distribute-all-lines;
}

.mycard img {
    width: 10%;
    object-fit: cover;
    display: inline-block;
    margin: 0;
    padding: 0;
}

.card_text h4 {
    font-family: LemonJelly;
    font-size: 4em;
    color: var(--card-head);
}

.mycard_spon {
    vertical-align: middle;
    display: flex;
    justify-content: space-between;
}

.middle {
    transition: .5s ease;
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center;
    color: var(--head-col);
}

.top {
    transition: .5s ease;
    opacity: 0;
    position: absolute;
    top: 10%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center;
    color: var(--head-col);
}
.bottom {
    transition: .5s ease;
    opacity: 0;
    position: absolute;
    top: 80%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center;
    color: var(--head-col);
}

.event-card:hover .middle {
    opacity: 1;
}
.event-card:hover .bottom {
    opacity: 1;
}
.event-card:hover .top {
    opacity: 1;
}
.text {
    font-family: LemonJelly;
    background-color:none;
    color: white;
    font-size: 4em;
    color: var(--head-col);

}

.heading-event {
    font-family: LemonJelly;
    background-color:none;
    color: var(--head-col);
    font-size: 7em;
}

.mycard_spon img {
    width: 20%;
    object-fit: contain;
    display: inline-block;
    margin: 0;
    padding: 0;
}

.m {
    margin-top: 1vh;
}

.name {
    font-family: LemonJelly;
    font-size: 3em;
    color: #F8703C;
}

.position {
    font-size: 1em;
}

.team {
    margin-top: -20px;
}

.more {
    margin-top: -2vh;
}

.b-0 {
    padding-top: 5%;
}


#fb {
    background-image: url(icons/fb.png);
}

#tw {
    background-image: url(icons/tw.png);
}

#rd {
    background-image: url(icons/rd.png);
}

#yt {
    background-image: url(icons/yt.png);
}

#fb:hover {
    background-image: url(icons/fbc.png);
}

#tw:hover {
    background-image: url(icons/twc.png);
}

#rd:hover {
    background-image: url(icons/rdc.png);
}

#yt:hover {
    background-image: url(icons/ytc.png);
}

.icons img {
    margin-right: 5%;
}

.icon-wrap {
    position: relative;
}